@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff"), url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@-webkit-keyframes fadeLoop {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeLoop {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* STATUSHUD */

.statusHud {
  width: 25%;
  position: absolute;
  bottom: 0.3%;
  left: 2.73%;
}

.statusHudCar {
  display: inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  justify-content: center;
  width: 0.3%;
  position: absolute;
  bottom: 5%;
  left: 1%;
}

#varVoice {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varHealth {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varArmor {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varHunger {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varThirst {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varOxygen {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varStress {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varAmmo {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varSeatbelt {
  border-radius: 100%;
  overflow: hidden;
  margin: 4px;
}

#varVoice > #circleSetVoice {
  background: linear-gradient(
    221deg,
    rgb(191, 89, 34) 0%,
    rgb(107, 18, 15) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varHealth > #circleSetHealth {
  background: linear-gradient(
    221deg,
    rgba(114, 204, 45, 1) 0%,
    rgb(39, 155, 0) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varArmor > #circleSetArmour {
  background-image: linear-gradient(
    221deg,
    rgba(36, 40, 241, 1) 0%,
    rgba(0, 2, 138, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varHunger > #circleSetHunger {
  background-image: linear-gradient(
    221deg,
    rgba(245, 212, 66, 1) 0%,
    rgba(158, 129, 0, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varThirst > #circleSetThirst {
  background-image: linear-gradient(
    221deg,
    rgba(89, 148, 215, 1) 0%,
    rgba(0, 64, 138, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varOxygen > #circleSetOxygen {
  background-image: linear-gradient(
    221deg,
    rgba(120, 72, 184, 1) 0%,
    rgba(61, 0, 141, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varStress > #circleSetStress {
  background-image: linear-gradient(
    221deg,
    rgba(192, 59, 59, 1) 0%,
    rgba(156, 0, 0, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varAmmo > #circleSetAmmo {
  background-image: linear-gradient(
    221deg,
    rgb(184, 52, 162) 0%,
    rgba(117, 13, 93, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}
#varSeatbelt > #circleSetSeatbelt {
  background-image: linear-gradient(
    221deg,
    rgb(153, 155, 155) 0%,
    rgba(34, 33, 34, 0.4) 77%
  ) !important;
  background-color: rgba(24, 24, 24, 0.2);
}

.bar {
  background-color: rgba(104, 9, 22, 0.4);
  border: 2px solid rgba(104, 9, 22, 0.15);
  box-shadow: 0px 0px 2px rgba(104, 9, 22, 0.25);
  width: 2.8vh;
  min-height: 2.8vh;
  float: left;
  z-index: 98;
}

#circleSetHealth,
#circleSetArmour,
#circleSetHunger,
#circleSetThirst,
#circleSetOxygen,
#circleSetStress,
#circleSetAmmo,
#circleSetVoice,
#circleSetSeatbelt {
  width: 2.8vh;
  min-height: 2.8vh;
  position: relative;
  bottom: 0;
  z-index: 92;
}

.barIcon {
  width: 1.6vh;
  height: 1.6vh;
  margin: 0.6vh;
  position: absolute;
  z-index: 99;
}

/* SPEEDOMETER */

* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  overflow: hidden;
  height: 100%; }

.background, .outer {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.progress {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.vehiclekey {
    width: 5%;
    height: 5%;
    position: absolute;
    left: 58%;
    top: 25%;
}

.huds {
  height: 100%;
  width: 100%; }
  .huds .hud.dashboard {
    position: absolute;
    height: 40px;
    bottom: 11.25%;
    left: 23.5%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .huds .hud.dashboard div {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
      .huds .hud.dashboard div svg {
        opacity: .2; }
    .huds .hud.dashboard .active svg {
      opacity: .8; }
      .huds .hud.dashboard .speedometer {
      width: 100px;
      height: 100px;
      text-align: center;
      -webkit-clip-path: polygon(100% 45%, 80% 45%, 60% 100%, 0% 100%, 0% 0%, 100% 0%);
      clip-path: polygon(100% 45%, 80% 45%, 60% 100%, 0% 100%, 0% 0%, 100% 0%); }
      .huds .hud.dashboard .speedometer svg {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: scale(2) translate(-25%, -25%);
        -ms-transform: scale(2) translate(-25%, -25%);
        transform: scale(2) translate(-25%, -25%); }
      .huds .hud.dashboard .speedometer .outer {
        opacity: .3;
        -webkit-transform: rotate(180deg) scale(1.2);
        -ms-transform: rotate(180deg) scale(1.2);
        transform: rotate(180deg) scale(1.2); }
      .huds .hud.dashboard .speedometer .text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 400;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0; }
        .huds .hud.dashboard .speedometer .text .speed {
          color: white;
          font-size: 23px;
          font-family: 'Teko', sans-serif;
          display: block; }
        .huds .hud.dashboard .speedometer .text .kmh {
          color: rgba(255, 255, 255, 1);
          text-shadow: 2.5cm black;
          font-family: 'Teko', sans-serif;
          font-size: 12px;
          display: block;
          font-weight: bold;
          text-transform: uppercase; }
          
  .huds .hud.dashboard .vehiclekey {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 150%;
            left: 155%;
            font-weight: 400;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin: 0; }
  .huds .hud.dashboard .engineorange {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 150%;
              left: 195%;
              font-weight: 400;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              margin: 0; }
  .huds .hud.dashboard .enginered {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 150%;
                left: 195%;
                font-weight: 400;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin: 0; }
  .huds .hud.fuel {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    position: absolute;
    bottom: -109.5%;
    right: -7.5%;
    position: absolute;
    text-align: center;
    margin: 15px 0; }
    .huds .hud.fuel span {
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      display: block;
      margin-top: 0px; }
    .huds .hud.fuel svg {
      opacity: 1 !important; }

.hud.fuel span {
  opacity: 0;
  margin-top: -4px; }

.hud.fuel span:after {
  position: absolute;
  content: '%';
  top: 1px;
  right: 4px;
  font-size: 7px; }

.hud.fuel g {
  -webkit-transform: translate(16px, 13px);
  -ms-transform: translate(16px, 13px);
  transform: translate(16px, 13px); }

.orangeStroke {
  stroke: #ffaf02; }

.redStroke {
  stroke: #FF0245; }